backend:
  name: "github"
  repo: "chpmnrssll/dentalcarearvada"
  squash_merges: true

media_folder: "/static/assets/uploadedImages"
public_folder: "/assets/uploadedImages"

collections:
  - label: "Pages"
    name: "pages"
    folder: "/userPages"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Show in site navigation", name: "showNavLink", widget: "boolean", default: false, required: false }
      - { label: "Path", name: "path", widget: "string", required: false }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
  - label: "Settings"
    name: "settings"
    files:
      - label: "Home page"
        name: "homePage"
        file: "/userPages/home.yml"
        fields:
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Header", name: "header", widget: "string" }
          - { label: "Sub Header", name: "subHeader", widget: "string" }
          - { label: "CTA Button Text", name: "buttonText", widget: "string" }
          - label: "Banner Links"
            name: "bannerLinks"
            widget: "list"
            fields:
              - { label: "Icon", name: "icon", widget: "image" }
              - { label: "Header", name: "header", widget: "string" }
              - { label: "Sub Header", name: "subHeader", widget: "string" }
              - { label: "URL", name: "url", widget: "string" }
      - label: "Footer"
        name: "footer"
        file: "/userPages/footer.yml"
        fields:
          - { label: "Text", name: "text", widget: "string" }
          - { label: "Show Netlify-CMS Link", name: "netlifyCMSLink", widget: "boolean", default: true, required: false }
