backend:
  name: "github"
  repo: "chpmnrssll/dentalcarearvada"
  squash_merges: true

media_folder: "/src/assets/images"
public_folder: "/src/assets/images"

collections:
  - label: "Pages"
    name: "pages"
    folder: "/userPages"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Show in site navigation", name: "showNavLink", widget: "boolean", default: false, required: false }
      - { label: "Path", name: "path", widget: "string", required: false }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
  - label: "Settings"
    name: "settings"
    editor:
      preview: false
    files:
      - label: "Home page"
        name: "homePage"
        file: "/src/data/home.yml"
        fields:
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Header", name: "header", widget: "string" }
          - { label: "Sub Header", name: "subHeader", widget: "string" }
          - { label: "CTA Button Text", name: "buttonText", widget: "string" }

          - label: "Banner"
            name: "banner"
            widget: "object"
            fields:
              - label: "Directions"
                name: "directions"
                widget: "object"
                fields:
                  - { label: "URL", name: "href", widget: "string" }
                  - { label: "Title", name: "title", widget: "string" }
                  - { label: "Text", name: "text", widget: "string" }
              - label: "Forms"
                name: "forms"
                widget: "object"
                fields:
                  - { label: "URL", name: "href", widget: "string" }
                  - { label: "Title", name: "title", widget: "string" }
                  - { label: "Text", name: "text", widget: "string" }
              - label: "Contact"
                name: "contact"
                widget: "object"
                fields:
                  - { label: "URL", name: "href", widget: "string" }
                  - { label: "Title", name: "title", widget: "string" }
                  - { label: "Text", name: "text", widget: "string" }

          - label: "Section 2"
            name: "section2"
            widget: "object"
            fields:
              - { label: "Header", name: "header", widget: "string" }
              - { label: "Body", name: "body", widget: "markdown" }
              - label: "Text"
                name: "text"
                widget: "list"
                field: { label: "Text", name: "text", widget: "string" }

          - label: "Section 3"
            name: "section3"
            widget: "object"
            fields:
              - { label: "Header", name: "header", widget: "string" }
              - { label: "Body", name: "body", widget: "markdown" }
              - label: "Text"
                name: "text"
                widget: "list"
                field: { label: "Text", name: "text", widget: "string" }

      - label: "Our Practice"
        name: "practice"
        file: "/src/data/practice.yml"
        fields:
          - { label: "Header", name: "header", widget: "string" }
          - { label: "Text", name: "text", widget: "string" }
          - { label: "Footer", name: "footer", widget: "string" }

      - label: "Footer"
        name: "footer"
        file: "/src/data/footer.yml"
        fields:
          - { label: "Text", name: "text", widget: "string" }
          - { label: "Show Netlify-CMS Link", name: "netlifyCMSLink", widget: "boolean", default: true, required: false }

  - label: "Reviews"
    name: "reviews"
    folder: "/reviews"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Author", name: "author", widget: "string"}
      - {label: "Date", name: "date", widget: "datetime"}
      - {label: "Icon", name: "icon", widget: "image"}
      - {label: "Location", name: "location", widget: "string"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}
