backend:
  name: "github"
  repo: "chpmnrssll/dentalcarearvada"
  squash_merges: true

media_folder: "/static/assets/uploadedImages"
public_folder: "/static/assets/uploadedImages"

collections:
  - label: "Pages"
    name: "pages"
    folder: "/userPages"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Show in site navigation", name: "showNavLink", widget: "boolean", default: false, required: false }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Excerpt", name: "excerpt", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Author", name: "author", widget: "string" }
      - { label: "Image", name: "image", widget: "image" }
      - { label: "Body", name: "body", widget: "markdown" }
  - label: "Settings"
    name: "settings"
    files:
      - label: "Home page"
        name: "homePage"
        file: "/userPages/home.yml"
        fields:
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Heading", name: "heading", widget: "string" }
          - { label: "Sub Heading", name: "subHeading", widget: "string" }
          - { label: "CTA Button Text", name: "buttonText", widget: "string" }
          - label: "Banner Links"
            name: "bannerLinks"
            widget: "list"
            fields:
              - { label: "Icon", name: "icon", widget: "image" }
              - { label: "Heading", name: "heading", widget: "string" }
              - { label: "Sub Heading", name: "subHeading", widget: "string" }
              - { label: "URL", name: "url", widget: "string" }
