@import 'custom.scss';
// @import 'calendlyWidget.scss';
@import 'transitions.scss';
@import 'typography.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import 'node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

html {
  height: 100%;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

section {
  transition: 0.25s filter ease-in-out;
  will-change: filter;
}

.container {
  max-width: 1240px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.4em;
  text-transform: uppercase;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.333rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 1.5;
  text-transform: capitalize;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: -0.25px;
}

p {
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.857;
  text-align: justify;
}

button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
